input[type='file']
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    filter: Alpha(Opacity=0);
}
img.fileDownload
{
    display: inline-block;
    cursor: pointer;
}

div.hiddenFileInputContainter
{
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}